<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
	
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Our Slogan">
							<!-- MAIN IMAGE -->
                            
                            <%= image_tag "revolution_slider2.jpg", alt: "home elevator", data: {lazyload: asset_url("residential_page1.jpg"), bgfit: "cover", bgposition: "center top", bgrepeat: "no-repeat"} %>
                            
                            <div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="0"
								data-y="100" 
								data-speed="400"
								data-start="500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#FFF; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									<span class="smallBiggerFont">Elevate Safety, Speed and Style</span>
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="30"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									<span class="smallNoDisplay">If you want only the best in elevators, <br />
									<em>you need us.</em></span>
							</div>

							<div class="tp-caption tp-fade"
								data-x="left"
								data-y="25" 
								data-speed="300"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 4;">
									
							</div>

							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="30"
								data-y="300" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-blue btn-lg scrollTo" style="margin-right: 50px" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							
									<a class="btn btn-default btn-lg" href="index-Quote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
                            
                            
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential Services">
                            <!-- MAIN IMAGE -->
                            <%= image_tag("revolution_slider3.jpg", alt: "cover image", data: {lazyload: asset_url("residential_page2.jpg"), bgfit: "cover", bgposition: "center top", bgrepeat: "no-repeat"}) %>

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									<span class="smallBiggerFont">Elevate at <br />
									home</span>
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									<span class="smallNoDisplay">Make every floor change <br />
									<em>memorable.</em></span>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-blue btn-lg" href="index-rocketElevators-residential.html">OUR RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>
                        
                        <!-- SLIDE  -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporate Services">
							<!-- MAIN IMAGE -->
                            <%= image_tag("revolution_slider4.jpeg", alt: "cover image", data: {lazyload: asset_url("residential_page3.jpg"), bgfit: "cover", bgposition: "center top", bgrepeat: "no-repeat"}) %>
                            
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									<span class="smallBiggerFont">The Future of  <br />
									Commercial Elevators</span>
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									<span class="smallNoDisplay">At Rocket Elevators, <br />
									our team is the <em>best in this field.</em></span> 
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-blue btn-lg" href="index-rocketElevators-commercial.html">OUR COMMERCIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Like what we do? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
				            <div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/portfolio_award1.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
                                        </span>
                                        <%= image_tag("portfolio_award1.jpg", alt: "cover image", data: {lazyload: asset_url("residential_page2.jpg"), bgfit: "cover", bgposition: "center top", bgrepeat: "no-repeat"}) %>
                                        #<img class="img-fluid" width="600" height="399" alt="elevators">
                                    </figure>
							</div>

							<h3 class="mt-10 ">Our Realisations and Awards</h3>
							<p>We are very proud to present you some of our most stunning works, and some of the prizes we got from it.</p>
							<a href="#work" data-filter="awards" class="btn btn-default scrollTo filter ">SEE OUR WORKS</a>
						</div>

						<div class="col-sm-4">
                            <div class="item-box">
								<figure>
								    <span class="item-hover">
								        <span class="overlay dark-5"></span>
								        <span class="inner">

								            <!-- lightbox -->
								                <a class="ico-rounded lightbox" href="assets/images/house_elevator2.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
								        </span>
                                    </span>
                                    <%= image_tag("house_elevator2.jpg", alt: "cover image", data: {lazyload: asset_url("residential_page2.jpg"), bgfit: "cover", bgposition: "center top", bgrepeat: "no-repeat"}) %>
								</figure>
				            </div>
							<h3 class="mt-10">Residential Services</h3>
							<p>We offer a wide variety of products for your home and can adjust to every needs you have to be happy with your residential transportation.</p>
							<a href="index-rocketElevators-residential.html" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
                            <div class="item-box">
								<figure>
								    <span class="item-hover">
								        <span class="overlay dark-5"></span>
								        <span class="inner">

								            <!-- lightbox -->
								                <a class="ico-rounded lightbox" href="assets/images/corporate_elevator.jpg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
								        </span>
                                    </span>
                                <%= image_tag("corporate_elevator.jpg", alt: "cover image", data: {lazyload: asset_url("residential_page2.jpg"), bgfit: "cover", bgposition: "center top", bgrepeat: "no-repeat"}) %>
                                #<img class="img-fluid" width="600" height="399" alt="elevators">
                                </figure>
				            </div>
							<h3 class="mt-10">Corporate Services</h3>
							<p>At Rocket Elevators, we take great pride in the products we offer. Be assured that you will get the best quality there is.</p>
							<a href="index-rocketElevators-commercial.html" class="btn btn-default">READ MORE</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->

			


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('assets/images/parallax_bg.jpeg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">Making the best elevators since 1976.</h2>
						<a class="btn btn-default btn-lg" href="index-Quote.html">GET A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-blue btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->


			<!-- PORTFOLIO -->
			<section id="work">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Featured Work</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
							<li data-filter="corporate" class="filter"><a href="#">Corporate</a></li>
							<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_award1.jpg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3>Eco-Design Award<br> Complexe Vision 4th Floor, Quebec</h3>
										<ul class="list-inline categories m-0">
											<li>Awards</li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_award2.jpeg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3> Elevator of the year 2010<br> Dynamic Tower, Dubaï</h3>
										<ul class="list-inline categories m-0">
											<li>Awards</li>
										</ul>
									</div>
								</div>
							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="assets/images/portfolio_award3.jpeg" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>
											</span>
										</span>
                                        <%= image_tag("portfolio_award3.jpeg", alt: "cover image", data: {lazyload: asset_url("residential_page2.jpg"), bgfit: "cover", bgposition: "center top", bgrepeat: "no-repeat"}) %>
										#<img class="img-fluid" width="600" height="399" alt="elevators">
									</figure>

									<div class="item-box-desc">
										<h3>Small Space Challenge Winner <br>Innovation Tower, Hong Kong</h3>
										<ul class="list-inline categories m-0">
                                            <li>Awards</li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_res1.jpg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3>Jane Doe's House, Montreal</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-residential.html">Residential Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_res2.jpg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3>Michael Scott's House, Scranton, Pennsylvania</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-residential.html">Residential Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											    <span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_res3.jpg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3>Erickson Family's House, Dowesatrepla, New York</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-residential.html">Residential Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residential"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_res4.jpeg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3>Bing Family House, New York, New York</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-residential.html">Residential Elevator</a></li>
				
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix corporate"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_corpo1.jpg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3>Place de la Cité, Quebec</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-commercial.html">Corporate Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->
                            
                            <div class="col-md-3 col-sm-3 mix corporate"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_corpo2.jpg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3>Codeboxx School of Technology, Quebec</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-commercial.html">Corporate Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->
                            
                            <div class="col-md-3 col-sm-3 mix corporate"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_corpo3.jpg", :class => "img-fluid"%>
                                                </span>
                                            </span>
                                        </figure>

									<div class="item-box-desc">
										<h3>Abbey Road Studios, London</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-commercial.html">Corporate Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->
                            
                            <div class="col-md-3 col-sm-3 mix corporate"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
                                                <%= image_tag"portfolio_corpo5.jpg", :class => "img-fluid"%>
											</span>
										</span>
                                    </figure>
											
									<div class="item-box-desc">
										<h3>Ubisoft Montreal, Montreal</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-commercial.html">Corporate Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->
                            
                            <div class="col-md-3 col-sm-3 mix corporate"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

                                                <!-- lightbox -->
                                                <%= image_tag"portfolio_corpo5.jpg", :class => "img-fluid"%>
											</span>
										</span>
                                    </figure>
                                    
									<div class="item-box-desc">
										<h3>Royal Ontario Museum, Toronto</h3>
										<ul class="list-inline categories m-0">
											<li><a href="index-rocketElevators-commercial.html">Corporate Elevator</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->



						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->


			<!-- Team -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
                                <%= image_tag "CEO2.jpg", :class => "img-circular", :height => '400px' %>
                                <figcaption>CEO of Rocket Elevators</figcaption>
                            </figure>
							<div class="testimonial-content p-0">
								<p class="lead">Proud to be CEO of Rocket Elevators since 2001.</p>
								<cite>
									Nicolas Pineault
									<span>Company CEO.</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
                                <%= image_tag "emp_month1.jpg", :class => "img-circular", :height => '400px' %>
                                <figcaption>Employee of the month</figcaption>							
                            </figure>
							<div class="testimonial-content p-0">
								<p class="lead">Really love to work for Rocket Elevators. I also would like to thank my parents for your support in getting this award.</p>
								<cite>
									Mathieu Houde
									<span>Employee of the month</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Team -->



			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
                            <a href="https://www.youtube.com/watch?v=VBlFHuCzPgY">
                                <%= image_tag"news1.jpg", :class => "img-fluid"%>
                            </a>
                            
							<h4 class="text-left mt-20"><a href="#">New Horizontal Elevator Design</a></h4>
							<p class="text-left">Over the years, there is been more and more new design for the horizontal elevator. Check this new one, we are sure it will blow your mind like it did for us!</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									1th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">
                            <a href="https://www.youtube.com/watch?v=VBlFHuCzPgY">
                                <%= image_tag"news2.jpeg", :class => "img-fluid"%>
                            </a>
                            
							<h4 class="text-left mt-20"><a href="#">First Earth-Mars Elevator now fully operational!</a></h4>
							<p class="text-left">We have all dreamt about it, we even lost hope once or twice, but now it's here! You can now reach Mars in 1327 seconds.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Aug 2018
								</li>
							</ul>
						</div>
						<div class="img-hover">
                            <a href="https://www.youtube.com/watch?v=VBlFHuCzPgY">
                                <%= image_tag"news3.jpeg", :class => "img-fluid"%>
                            </a>
                            
							<h4 class="text-left mt-20"><a href="#">Tallest Elevator ever made</a></h4>
							<p class="text-left">Unbeaten for almost 16 years, the record for the tallest elevator has finally been broken. The Kingdom Tower now boast the world's tallest lift at 660m (2,165ft).  </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									7th Apr 2018
								</li>
							</ul>
						</div>
						<div class="img-hover">
                            <a href="https://www.youtube.com/watch?v=VBlFHuCzPgY">
                                <%= image_tag"news4.jpeg", :class => "img-fluid"%>
                            </a>

                            <h4 class="text-left mt-20"><a href="#">Magnetic Elevator</a></h4>
							<p class="text-left">At Rocket Elevators, we constantly try to develop new Futuristic Elevator Technologies (FET). We're currently working on a fully magnetic elevator design. Check our first draft right here. </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									9th Sep 2015
								</li>
							</ul>
						</div>
						<div class="img-hover">
                            <a href="https://www.youtube.com/watch?v=VBlFHuCzPgY">
                                <%= image_tag"news5.jpg", :class => "img-fluid"%>
                            </a>
                            
							<h4 class="text-left mt-20"><a href="#">New underwater adventure</a></h4>
							<p class="text-left">Always wanted to see the submarine world without getting wet? This elevator is for you!</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									28th Jan 2016
								</li>
							</ul>
						</div>
						<div class="img-hover">
                            <a href="https://www.youtube.com/watch?v=VBlFHuCzPgY">
                                <%= image_tag"news6.jpg", :class => "img-fluid"%>
							
							<h4 class="text-left mt-20"><a href="#">TRGSS Elevator Ghost, a scam?</a></h4>
							<p class="text-left">Many of you have seen the episode of True and Real Ghost Stories of the Supernatural where we see a female ghost haunting an elevator in Tokyo. Some people seem sto be questionning the legicimacy of this report. What to think? Tell us how you feel!</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									1th Apr 2018
								</li>
							</ul>
                            </a>
						</div>
					</div>

				</div>
			</section>
			<!-- /News -->



			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
                            <a href="https://codeboxx.biz/">
                                <%= image_tag"client1.png", :class => "img-fluid"%>
                            </a>   
						</li>
						<li class="col-md-3 col-sm-3 col-6">
                            <a href="https://www.mcdonalds.com/ca/en-ca.html">
                                <%= image_tag"client2.png", :class => "img-fluid"%>
                            </a> 
						</li>
                        <li class="col-md-3 col-sm-3 col-6">
                            <a href="https://en.wikipedia.org/wiki/Marvin_the_Martian">
                                <%= image_tag "client3.jpg", :class => "img-fluid"%>
                            </a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
                            <a href="https://www.steinway.com/">
                                <%= image_tag"client4.png", :class => "img-fluid"%>
                            </a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
                            <a href="https://ca.nba.com/?gr=www">
                                <%= image_tag"client5.png", :class => "img-fluid"%>
                            </a>
						</li>
                        <li class="col-md-3 col-sm-3 col-6">
                            <a href="http://complexevision.com/">
                                <%= image_tag "client6.png", :class => "img-fluid"%>
                            </a>
                        </li>
                        <li class="col-md-3 col-sm-3 col-6">
                            <a href="https://www.kennedyspacecenter.com/">
                                <%= image_tag "client7.jpg", :class => "img-fluid"%>
                            </a>
						</li>
                        <li class="col-md-3 col-sm-3 col-6">
                            <a href="https://disneyparks.disney.go.com/ca/">
                                <%= image_tag "client8.png", :class => "img-fluid"%>
                            </a>
						</li>
                        <li class="col-md-3 col-sm-3 col-6">
                            <a href="https://github.com/">
                                <%= image_tag "client9.png", :class => "img-fluid"%>
                            </a>
						</li>
                        <li class="col-md-3 col-sm-3 col-6">
                            <a href="https://slack.com/">
                                <%= image_tag "client10.png", :class => "img-fluid"%>
                            </a>
						</li>
                        <li class="col-md-3 col-sm-3 col-6">
							<a href="http://www.rollingstones.com/">
                                <%= image_tag "client11.jpg", :class => "img-fluid"%>
							</a>
						</li>
                        <li class="col-md-3 col-sm-3 col-6">
                            <a href="https://www.ups.com/ca/en/Home.page">
                                <%= image_tag"client12.png", :class => "img-fluid"%>
                            </a>    
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->




			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>


							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->


							<form  method="post" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-4">
												<label for="contact:name">Full Name *</label>
												<input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name">
											</div>
                                            
											<div class="col-md-4">
												<label for="contact:email">E-mail Address *</label>
												<input required type="email" value="" class="form-control" name="contact[email][required]" id="contact:email">
											</div>
											<div class="col-md-4">
												<label for="contact:phone">Phone</label>
												<input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
											</div>
									</div>
                                    <div class="row">
											
                                            <div class="col-md-6">
												<label for="contact:name">Company Name *</label>
												<input required type="text" value="" class="form-control" name="contact[company_name][required]" id="contact:company_name">
											</div>
                                            <div class="col-md-6">
												<label for="contact:phone">Project Name *</label>
												<input required type="text" value="" class="form-control" name="contact[project_name]" id="contact:project_name">
											</div>
									</div>
                                    <div class="row">
											<div class="col-md-8">
												<label for="contact:message">Project Description *</label>
												<textarea required maxlength="5000" rows="4" class="form-control" name="contact[message]" id="contact:message"></textarea>
											</div>
                                            <div class="col-md-4">
												<label for="contact_department">Department</label>
												<select class="form-control pointer" name="contact[department]">
													<option value="">--- Select ---</option>
													<option value="Marketing">Residential Services</option>
													<option value="Webdesign">Corporate Services</option>
												</select>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:message">Message *</label>
												<textarea required maxlength="10000" rows="8" class="form-control" name="contact[message] [required]" id="contact:message"></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contact:attachment">File Attachment</label>

												<!-- custom file upload -->
												<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							</form>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.0431801755144!2d-71.28188348439583!3d46.84283987914139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897ddc2cec043%3A0xd450d4d0da014cc8!2s725+Boulevard+Lebourgneuf%2C+Qu%C3%A9bec%2C+QC+G2J+1S1!5e0!3m2!1sen!2sca!4v1535641301684" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 725 Boulevard Lebourgneuf, Québec, QC G2J 1S1</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-580-7055">418-580-7055</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->
