


<br>    <strong>Clients<strong>
<div class="control-group">

       <%= collection_select(:intervention, :customer_id, Customer.all, :id, :name, { :prompt => 'SELECT'}, { id: 'customer_select' } ) %>

</div>

<br>
<br>
    <strong>Buildings<strong>

<div class="control-group">
     
        <%= collection_select(:intervention, :building_id, Building.all, :id, :name, {:prompt => 'SELECT'}, { id: 'building_select' } ) %>
        
</div>

<br>
    <strong>Batteries<strong>

<div class="control-group">

       <%= collection_select(:intervention, :battery_id, Battery.all, :id, :building_id, {:prompt => 'SELECT'}, { id: 'battery_select' } ) %>
</div>

<br>
<br>
    <strong>Columns<strong>

<div class="control-group">

       <%= collection_select(:intervention, :column_id, Column.all, :id, :battery_id, {:prompt => 'NONE'}, { id: 'column_select' } ) %>
</div>

<br>
<br>
    <strong>Elevators<strong>

<%= collection_select(:intervention, :elevator_id, Elevator.all, :id, :column_id, {:prompt => 'NONE'}, { id:'elevator_select' } ) %>

<br>
<br>
<br>
<br>
    <strong>Employees<strong>

<%= collection_select(:employee, :employee_id, Employee.all, :id, :name, {:prompt => 'NONE'}, { :multiple => false } ) %>

<br>
<br>
<br>

<div class="col-md-8">
    <label for="contact:message">Project Description *</label>
    <textarea required maxlength="5000" rows="4" class="form-control" name="lead[project_description]" id="lead:message"></textarea>
</div>
<br>
<br>

 

<%#= <button id="submitbutton" class="btn btn-submit btn-lg" type="submit">SUBMIT &nbsp; <i class="fa fa-angle-right"></i></button> %>

<%= render 'form', intervention: @intervention %>           

<%= link_to 'Back', interventions_path %>
